// Import default form styling
@import "./form.scss";

// Import utility classes
@import "./util.scss";

// Import styles for partials
@import "./partials/footer.scss";
@import "./partials/header.scss";
@import "./partials/footer-feed.scss";
@import "./partials/blog.scss";
@import "./partials/pagination.scss";

// Import styles for shortcodes
@import "./shortcodes/cta_blog.scss";
@import "./shortcodes/lux_no_caminho.scss";

html {
    scroll-behavior: smooth;
    font-variant-numeric: lining-nums;
}

body {
    font-feature-settings: "ss04" on, "ss01" on;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    font-feature-settings: "ss04" off, "ss01" off;
}

a {
    text-decoration: none !important;
}

.container {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
}

body {
    overflow-y: scroll !important;

    &.error404 {
        display: flex;
        flex-flow: column;
        min-height: 100vh;
    }
}

*::selection {
    background-color: var(--bs-primary);
    color: black;
}

mark {
    background-color: var(--bs-primary) !important;
    padding: 0.1rem 0 !important;
}

form {
    label {
        cursor: pointer;
    }
}

.inner-404 {
    padding: 2rem 0 4rem;
    a {
        color: #aaa;
        &:hover, &:active, &:focus {
            color: #494949;
        }
    }
}