@import './form.scss';

// Import styles for partials 
@import './partials/footer.scss';
@import './partials/header.scss';

html {
    scroll-behavior: smooth;
    font-variant-numeric: lining-nums;
}

a {
    text-decoration: none !important;
}

a.btn-cta {
    background-color: var(--bs-primary);
    font-weight: 600;
    padding: .25rem .5rem;

    transition: background .2s;

    &::after {
        font-weight: 500;
        vertical-align: -.2rem;
        line-height: 1;
        font-family: 'bootstrap-icons';
        content: '\F138';
    }

    &:hover,
    &:focus {
        background-color: mix(white, #fecd00, 20%);
    }
}

.container {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
}

body {
    overflow-y: scroll !important;

    &.error404 {
        display: flex;
        flex-flow: column;
        min-height: 100vh;
    }
}

*::selection {
    background-color: var(--bs-primary);
    color: black;
}

.fw-extrabold {
    font-weight: 800;
}

mark {
    background-color: var(--bs-primary) !important;
    padding: .1rem 0 !important;
}

form {
    label {
        cursor: pointer;
    }
}

@media all and (min-width: 1200px) {
    .container.default-lux {
        max-width: 900px;
    }
}